{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    This is our Home Page

    <div class="container text-center" style="margin-top: 5%;">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <img src="" class="card-img-top" alt="..." height="500" width="500">
                <div class="card-body">
                  <h5 class="card-title">Place Consignment</h5>
                  <a href="{{ url_for('place_consignment_page') }}" class="btn btn-primary">Place Consignment</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <img src="" class="card-img-top" alt="..." height="500" width="500">
                <div class="card-body">
                  <h5 class="card-title">Add a New Truck</h5>
                  <a href="{{ url_for('add_truck_page') }}" class="btn btn-primary">Add a New Truck</a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}